.inico{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-self: center;
}

.login_input{
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    padding: 10px;
}

.butao{
    background-color: darkcyan;
    border-radius: 8px;
    color: cornsilk;
    padding: 10px;
}

.butao:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}