.titulo {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Cooper Black';
}

:root{
    --cor-primaria-success : #B22222;
    --cor-secundaria-success : #ffffff;
    --cor-hover-success : #5c0000;
}

.exit{
    padding: 10px;
    background-color: var(--cor-primaria-success);
    outline-color: var(--cor-secundaria-success);
    color: bisque;
    text-transform: uppercase;
    border-radius: 10px;
}

.exit:hover{
    background-color: var(--cor-hover-success);
}